/* LINKS */

.links {
    padding: 1rem;
    margin: 0.5rem;
    background-color: rgba(22, 25, 23, 0.255);
    backdrop-filter: blur(15rem);
    border-radius: 1rem;
}

.links-item {
    margin: 0.5rem;
}