@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Oswald', sans-serif;
}

body {
    /* background-image: url(https://images.pling.com/img/00/00/09/64/68/1043398/113086-1.jpg); */
    background-image: url(/img/background/isssoooo.jpg);
    /* background: rgb(2,0,36);
    background-color: #161917; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    word-wrap: break-word;
}

/* NAVBAR */

a,
a:active,
a::after {
    text-decoration: none;
    color: #F5F7FF;
}

a:hover {
    color: #727B96;
}

.navbar {
    /* background-color: #70160e86; */
    margin: 1%;
    text-decoration: none;
    font-size: 1rem;
    position: sticky;
    z-index: 9999;
}

.container {
    gap: 6rem;
    display: flex;
}

.nav-item {
    color: #F5F7FF;
}

/* ÍCONE INICIAL */

.menu-icon {
    width: 10rem;
}

/* ITEM INICIAL E FINAL */



.final-item {
    font-size: 1.5rem;
}

/* ITEM DO DROPDOW */

.drop-item {
    color: #F5F7FF;
}

/* ITEM DAS MATÉRIAS */

.mat-content {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
}

.mat-item {
    color: #F5F7FF;
}

/* MENU ESCONIDO */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    margin: none;
    border: none;
    color: #F5F7FF;
    font-size: 1.5rem;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: none;
}

.navbar a:hover, .dropdown:hover .dropbtn:hover {
    color: #727B96;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    color: #F5F7FF;
    display: block;
    padding: 0.5rem;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.479);
  }

.dropdown:hover .dropdown-content {
    display: block;
}

/* RESPONSIVIDADE DO DROPDOWN */

@media (max-width: 1110px) {

.mat-content {
    display: none;
}

.dropdown .dropbtn {
    display: block;
    font-size: 1.3rem;
}

.initial-item {
    font-size: 1.3rem;
}


}