* {
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: 'Chivo Mono', monospace;
}

body {
    /* background-image: url(https://images.pling.com/img/00/00/09/64/68/1043398/113086-1.jpg); */
    background-image: url(/img/background/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    word-wrap: break-word;
}

/* NAVBAR */

a,
a:active,
a::after {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(251, 255, 0);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.492);
    padding: 1%;
    margin-top: 0;
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    justify-content: center;
    gap: 6rem;
    display: flex;
    flex-direction: row;
}

.container02 {
    justify-content: right;
    width: auto;
}

.nav-item {
    color: white;
}

/* ÍCONE INICIAL */

.menu-icon {
    background-image: url("/icons/casa.png");
    width: 1.5rem;
}

/* ITEM INICIAL E FINAL */



.final-item {
    font-size: 1.5rem;
    padding-right: 2rem;
}

/* ITEM DO DROPDOW */

.drop-item {
    color: white;
}

/* ITEM DAS MATÉRIAS */

.mat-content {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.mat-item {
    color: white;
}

/* MENU ESCONIDO */

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    margin: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: none;
}

.navbar a:hover, .dropdown:hover .dropbtn:hover {
    color: rgb(104, 104, 104)
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5rem;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.479);
  }

.dropdown:hover .dropdown-content {
    display: block;
}

/* RESPONSIVIDADE DO DROPDOWN */

@media (max-width: 1110px) {

.mat-content {
    display: none;
}

.dropdown .dropbtn {
    display: block;
    font-size: 1.3rem;
}

.initial-item {
    font-size: 1.3rem;
}


}