/* MAIN CONFIG */

.main {
    display: flex;
    justify-content: space-between;
    color: #F5F7FF;
    margin: 10rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.title {
    display: flex;
    font-size: 10rem;
    line-height: 12rem;
    font-weight: bolder;
}

.parag {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: lighter;
}